
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.holder .item{
	width:20%;
	height:px;
	background-color:lightblue;
	display:flex;
	justify-content:space-around;
	
}